#aboutDeveloper {
	padding: 0 50px;
	transition-duration: 0.5s;
	width: 100%;
	overflow: auto;
	box-sizing: border-box;
}

#aboutDeveloper a {
	color: white;
	text-decoration: unset;
	transition-duration: 0.5s;
}

.aboutdeveloperTitle {
	display: block;
	font-size: 25px;
	font-weight: 700;
	cursor: pointer;
	margin: 20px 0;
}

.aboutPoints {
	display: list-item;
	list-style-type: disc;
	margin: 5px 20px;
	line-height: 32px;
}

.aboutPoints a:hover,
.aboutdeveloperTitle:hover {
	text-decoration: underline !important;
}

/* ...................ContactOn................... */
#contact {
	margin: 30px auto;
	margin-bottom: 200px;
}

.subTitle {
	margin-bottom: 10px;
	font-size: 25px;
	font-weight: 500;
	color: #f1f1f1;
	border-bottom: 1px solid #f1f1f1;
	width: fit-content;
}

#contact a {
	display: flex;
	align-items: center;
	padding: 7px 0px;
	width: fit-content;
}

#contact img {
	height: 30px;
	padding-right: 10px;
}

.socialLinksBox:hover {
	transform: scale(1.1);
	transition-duration: 0.3s;
}

#git {
	fill: white;
}

.light #aboutDeveloper {
	color: black;
}

.light #aboutDeveloper a {
	color: black;
}

/*------------------mWebBar-------------------*/
@media screen and (max-width: 470px) {
	#aboutDeveloper {
		padding: 0 20px;
	}
}
