#primeNoChecker {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-self: center;
	width: 100%;
	text-align: center;
	transition-duration: 0.5s;
}

.primeNoCheckerForm {
	width: 100%;
}

.primeNoCheckerMsg {
	font-size: 1.3rem;
	font-weight: 500;
}

.primeNoTrue {
	color: red;
}

.primeNoFalse {
	color: lightgreen;
}

/* ..........................Light........................... */
.light #primeNoChecker {
	color: black;
}

.light .primeNoFalse {
	color: green;
}
