.calculatorBg {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.left {
	width: 70%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-right: thin solid rgba(255, 255, 255, 0.3);
}

.calculator {
	display: grid;
	background: #33393e;
	padding: 20px;
	border-radius: 10px;
	box-sizing: border-box;
}

.calculator #value {
	grid-column: span 4;
	overflow: none;
	width: 100%;
	box-sizing: border-box;
	text-align: end;
	height: 100px;
	line-height: 100px;
	border-radius: 10px;
	margin-bottom: 12px;
	padding: 0 20px;
	box-sizing: border-box;
	font-size: 2em;
	font-weight: 500;
	background: #33393e;
	color: #eee;
	box-shadow: inset 10px 10px 20px rgba(0, 0, 0, 0.5), inset -10px -10px 20px rgba(255, 255, 255, 0.1);
	outline: unset;
}

.calculator span {
	padding: 15px;
	box-sizing: border-box;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25), -5px -5px 5px rgba(255, 255, 255, 0.1);
	margin: 10px;
	border-radius: 10px;
	cursor: pointer;
	user-select: none;
	min-width: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2em;
	border: 2px solid #333;
	color: #eee;
}

.calculator span:active {
	box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.25), inset -5px -5px 10px rgba(255, 255, 255, 0.1);

	color: #f44336;
}

.calculator span#clear {
	grid-column: span 2;
	background-color: #f44336;
	color: #fff;
	border: 2px solid #edf1f4;
}

.calculator span#plus {
	grid-row: span 2;
	background-color: #31a935;
	color: #fff;
	border: 2px solid #edf1f4;
}

.calculator span#equal {
	grid-row: span 2;
	background-color: #2196f3;
	color: #fff;
	border: 2px solid #edf1f4;
}

.calculator span#clear:active,
.calculator span#plus:active,
.calculator span#equal:active {
	box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.right {
	width: 30%;
	height: 100%;
	padding: 0 20px;
	box-sizing: border-box;
	position: relative;
}

.arrow {
	position: absolute;
	left: 0;
	top: 50%;
	height: 130px;
	border: unset;
	background-color: unset;
	outline: unset;
	transform: rotate(180deg) translate(calc(80% - 1px), 50%);
	display: grid;
	place-items: center;
	/* cursor: pointer; */
}

.arowCurve {
	fill: #282c2f;
}

.arowBorder {
	stroke: rgba(255, 255, 255, 0.3);
}

.arrowIconDiv {
	align-self: center;
	margin-right: 5px;
	position: absolute;
}

.historyTitle {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.clearIcon {
	background-image: url('../../../assets/clearIconWhite.png');
	background-size: cover;
	height: 30px;
	width: 30px;
	cursor: pointer;
}

.clearIcon:hover {
	transform: scale(1.1);
}

.historyList {
	padding: 15px 0;
	border-bottom: thin solid rgba(255, 255, 255, 0.3);
}

/* -----------------dark mode----------------- */

.light .calculator {
	background: #b6b6b6;
}

.light .calculator #value {
	color: black;
	box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1), inset -5px -5px 20px #d4d4d4;
	background-color: #f1f1f1;
}

.light .calculator span {
	color: #000000;
	border: 2px solid #bad6eb;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px #f1f1f1;
}

.light .calculator span:active {
	box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1), inset -5px -5px 10px #fff;
}

.dark .calculator span#clear,
.dark .calculator span#plus,
.dark .calculator span#equal {
	border: solid 2px #333;
}

.light .calculator span#clear:active,
.light .calculator span#plus:active,
.light .calculator span#equal:active {
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px #fff, inset 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.light .calcHistory {
	color: black;
	border-left: thin solid rgba(0, 0, 0, 0.3);
}

.light .arowCurve {
	fill: #f1f1f1;
}

.dark .arrowIconDiv {
	color: white;
}

.light .arowBorder {
	stroke: rgba(0, 0, 0, 0.3);
}

.light .clearIcon {
	background-image: url('../../../assets/clearIconBlack.png');
}

.light .historyList {
	border-bottom: thin solid rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 900px) {
	.calculatorBg {
		display: block;
	}
	.left {
		width: 100%;
		height: unset;
		border-right: unset;
		border-bottom: thin solid rgba(255, 255, 255, 0.3);
		display: block;
		margin-bottom: 50px;
	}

	.right {
		width: 100%;
	}

	.arrow {
		display: none;
	}

	.calculator {
		border-radius: unset;
		padding: 10px;
		/* margin-top: 50px; */
	}

	.calculator span {
		padding: 10px;
		font-size: 1.1em;
		margin: 5px;
	}

	.dark .calculator span {
		box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25), -5px -5px 10px rgba(255, 255, 255, 0.1);
	}
}
