#matrixCalc {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	text-align: center;
	transition-duration: 0.5s;
	padding: 20px;
	border-radius: 10px;
	background-color: #f9f9f9;
	color: white;
	background-color: #333;
	overflow: auto;
}

.matrixCalcForm {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
}

.matrixLableInput {
	display: flex;
	flex-direction: column;
	margin: 10px;
}

.matrixLable {
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 5px;
}

.matrixRowColsInput {
	padding: 10px;
	border-radius: 8px;
	border: 1px solid #ccc;
	font-size: 16px;
	width: 200px;
	transition: border-color 0.3s ease;
}

.matrixBox {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
	gap: 10px;
	margin: 20px 0;
}

.matrixBoxInput {
	background-color: #444;
	width: 100%;
	margin: 5px;
	padding: 10px;
	border-radius: 8px;
	border: 1px solid #555;
	font-size: 16px;
	text-align: center;
	box-sizing: border-box;
	outline: unset;
	box-shadow: 0 2px 4px rgba(192, 192, 192, 0.1);
	color: white;
}

.matrixBoxInput:hover {
	border: #868686 1px solid;
}

.matrixBoxInput:focus {
	border-color: #28a745;
	box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);
}

.result {
	font-size: 20px;
	font-weight: 600;
	color: #28a745;
	margin-top: 20px;
}

/* ..........................Light Theme........................... */
.light #matrixCalc {
	color: black;
	background-color: white;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.light .matrixBoxInput {
	background-color: #f9f9f9;
	color: black;
}

.light .matrixBoxInput:hover {
	border: rgb(0, 140, 255) 1px solid;
}

.light .matrixBoxInput:focus {
	border: rgb(0, 140, 255) 1px solid;
	box-shadow: 0 0 5px rgba(0, 120, 218, 0.749);
}
