.navBar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #1d1d1d;
	border-bottom: thin solid #ffffff4d;
	box-shadow: 0 2px 4px -1px #0003, 0 4px 5px 0 #00000024, 0 1px 10px 0 #0000001f;
	max-height: 45px;
	min-height: 45px;
	width: 100%;
	padding: 0 20px;
	box-sizing: border-box;
	transition-duration: 0.5s;
}

.menuToggle {
	user-select: none;
	cursor: pointer;
	display: none;
	font-size: 1.5rem;
}

.navTitle {
	font-size: 1.5rem;
	font-weight: bold;
}

.toggleBtn {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #edf1f4;
	cursor: pointer;
	border: 2px solid #333;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25), 0px 0px 10px rgba(255, 255, 255);
}

/* ...................dark..................... */

.light .navBar {
	background-color: #b6b6b6;
	border-bottom: thin solid #3535354d;
	color: black;
}
.light .toggleBtn {
	background: #555;
	border: 2px solid #edf1f4;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), 0px 0px 10px #fff;
}

@media (max-width: 900px) {
	.menuToggle {
		display: block;
	}
	.navTitle {
		font-size: 1.2rem;
	}
	.toggleBtn {
		width: 15px;
		height: 15px;
	}
}
